{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Bibiothèque</h3></div>
                            <div class="card-body">
                                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

                                {{ form_start(registrationForm) }}
                                <div class="form-group">
                                    <label class="small mb-1">Email</label>
                                    {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Nom</label>
                                    {{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Prenom</label>
                                    {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Mot de passe</label>
                                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Adresse</label>
                                    {{ form_widget(registrationForm.adresse, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Téléphone</label>
                                    {{ form_widget(registrationForm.telephone, { 'attr': {'class': 'form-control py-4'} }) }}
                                </div>
                                <div class="custom-control custom-checkbox">
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>

                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="{{ path('app_login') }}">Connexion</a><button type="submit" class="btn btn-primary" >Enregistrer</button></div>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
