<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Etudiant</div>
                <a class="nav-link" href="{{ path('front_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="{{ path('mes_emprunt') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Mes emprunts
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="sb-sidenav-menu-heading">Administration</div>
                <a class="nav-link" href="{{ path('category_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Gérer les catégories
                </a>
                <a class="nav-link" href="{{ path('livre_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    Gerer les livres
                </a>
                <a class="nav-link" href="{{ path('livre_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                    Liste des emprunts
                </a>
                <a class="nav-link" href="{{ path('livre_index') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Liste des utilisateurs
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
