{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}

    <div class="container">
        <h1>Liste des livres</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>DateParution</th>
                <th>Disponibility</th>
                <th>nbre</th>
                <th>Iban</th>
                <th>Update_At</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.titre }}</td>
                    <td>{{ livre.description }}</td>
                    <td>{{ livre.auteur }}</td>
                    <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                    <td>{{ livre.disponibility ? 'Yes' : 'No' }}</td>
                    <td>{{ livre.nbre }}</td>
                    <td>{{ livre.iban }}</td>
                    <td>{{ livre.updateAt ? livre.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-success btn-sm">Afficher</a>
                        {% if livre.nbre>0 %}
                            <a href="{{ path('livre_emprunt', {'id': livre.id}) }}" class="btn btn-sm btn-primary">emprunter</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('mes_emprunt') }}" class="btn btn-sm btn-success">Mes emprunts</a>
    </div>



{% endblock %}

