{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Auteur</th>
            <th>DateParution</th>
            <th>Disponibility</th>
            <th>nbre</th>
            <th>Iban</th>
            <th>Created_At</th>
            <th>Update_At</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ livre.nbre }}</td>
                <td>{{ livre.iban }}</td>
                <td>{{ livre.createdAt ? livre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ livre.updateAt ? livre.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_emprunt', {'id': livre.id}) }}">retourner</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
